# Set the default behavior, in case people don't have core.autocrlf set.
# https://help.github.com/articles/dealing-with-line-endings/
#www.nhsa.gov.cn
#测试环境1:120.132.73.41
#正式环境2:106.38.254.107
#pass:123456
#user:admin
* text=auto
